*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

header .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header img {
  object-fit: cover;
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card {
  overflow: hidden;
}

.feature-card {
  border: none;
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-10px);
}

#navbar {
  background-color: #333; /* Altere a cor aqui */
}

#footer {
  background-color: #444; /* Altere a cor aqui */
}

@media (max-width: 768px) {
  header .content {
    padding: 0 20px;
  }
}


/* Ajuste da logo no navbar */
.logo {
  width: 100px; /* Aumente ou diminua o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  transition: transform 0.3s ease-in-out; /* Suaviza qualquer alteração de tamanho */
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre a logo e o texto */
}

.navbar {
  height: auto; /* Garante que o tamanho da navbar seja ajustado automaticamente */
  padding: 0.5rem 1rem; /* Controle o espaçamento interno */

}

.navbar-toggler {
  margin-top: 2px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.logo:hover {
  transform: scale(1.1); 
}
